* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;

}


h1, p {
    text-align: center;
    margin: 30px;
    line-height: 30px;
}


#members {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    margin-top: 50px;
    list-style-type: none;    
}

li {
    width: calc(100% / 3 - 50px);
}